.cartao-pokemon{
    display: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 15px;
}

.cartao-pokemon .cartao-topo{
    
padding: 30px 40px 0;
}

.cartao-pokemon .nome{
    margin-bottom: 5px;
}

.cartao-pokemon .tipo{
    font-size: 10px;
    opacity: 0.7;
    border-radius: 7px;
    padding: 2px 10px 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.cartao-pokemon .detalhes{
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.cartao-pokemon .cartao-imagem{
    width: 450px;
    height: 275px;

}

.cartao-pokemon img{
    max-height: 100%;

}

.cartao-pokemon .cartao-informacoes{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 80px 30px 50px;
    margin-top: -100px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.cartao-pokemon .cartao-informacoes h3{
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #6B727A ;
}

.cartao-pokemon .cartao-informacoes .status, .cartao-pokemon .cartao-informacoes .habilidades{
    padding: 0 10px;
    width:180px ;
}
.cartao-pokemon .cartao-informacoes .habilidades   ul li,.cartao-pokemon .cartao-informacoes .status   ul li {
    border-bottom: 1px solid #c3c4c5;
    padding: 0 0 5px;
    margin-bottom: 5px;
    font-size: 15px;
}

.cartao-pokemon.aberto{
    display: block;
}

.tipo-fogo{
    background-color: #ff9b7d;
}
.tipo-grama{
    background-color: #49d0b0;   
}
.tipo-eletrico{
    background-color: #fcc719;
}
.tipo-agua{
    background-color: #76befe;
}
.tipo-fantasma{
    background-color: #b47dbe;
}
.tipo-dragao{
    background-color: 	#ceccc9	;

}
.tipo-dragao-categoria{
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    text-align: center
}
.tipo-voador-categoria{
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    text-align: center
}